// Place all the styles related to the feeds controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h3 {
  text-align: center;
}
.entry {
  border: 1pt black solid;
  border-radius: 5pt;
  text-align: center;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  background-color: grey;
  margin-bottom: 10pt;
  margin-top: 10pt;
  h1 {
    color: black;
  }
}
